@CHARSET "ISO-8859-1";
/* Add a black background color to the top navigation */
.topnav {
	background-color: #8b9dc3;
	overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
	float: left;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

/* Change the color of links on hover */
.topnav a:hover {
	background-color: #ddd;
	color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
	background-color: #4CAF50;
	color: white;
}

.div1 {
	width: 300px;
	height: 100px;
}

.btn1 {
	background-color: #8b9dc3;
	border: none;
	color: black;
	padding: 15px 32px;
	align: left;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 2px 2px;
	cursor: pointer;
	width: 200px;
}

#texttable {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	border-collapse: collapse;
	width: 100%;
}

#tweet {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	border-collapse: collapse;
	width: 60%;
}

#tweet td, #tweet th {
	padding: 5px;
}

#tweet tr:nth-child(even) {
	background-color: #f2f2f2;
}

#tweet tr:hover {
	background-color: #ddd;
}

#tweet th {
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: left;
	background-color: #8b9dc3;
	color: white;
}